@font-face {
	font-family: 'motherOfBanter';
	src: url('../fonts/motherOfBanter.eot?puwg7f');
	src: url('../fonts/motherOfBanter.eot?puwg7f#iefix') format('embedded-opentype'), url('../fonts/motherOfBanter.ttf?puwg7f') format('truetype'), url('../fonts/motherOfBanter.woff?puwg7f') format('woff'), url('../fonts/motherOfBanter.svg?puwg7f#motherOfBanter') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Icon Moon*/

.icon-home:before {
	content: "\e903";
}

.icon-play:before {
	content: "\e905";
}

.icon-bubble2:before {
	content: "\e906";
}

.icon-user:before {
	content: "\e907";
}

.icon-search:before {
	content: "\e908";
}

.icon-menu:before {
	content: "\e90a";
}

.icon-cross:before {
	content: "\e90b";
}

.icon-google-plus:before {
	content: "\e90c";
}

.icon-twitter:before {
	content: "\e90d";
}

.icon-earth:before {
	content: "\e912";
}

.icon-happy:before {
	content: "\e913";
}

.icon-sad:before {
	content: "\e914";
}

.icon-frustrated:before {
	content: "\e915";
}

.icon-cloud-upload:before {
	content: "\e909";
}

.icon-exclamation-circle:before {
	content: "\e904";
}

.icon-trash:before {
	content: "\e910";
}

.icon-image:before {
	content: "\e911";
}

.icon-edit:before {
	content: "\e90f";
}

.icon-key:before {
	content: "\e901";
}

.icon-sign-in:before {
	content: "\e902";
}

.icon-sign-out:before {
	content: "\e90e";
}

.icon-facebook-square:before {
	content: "\e900";
}

.icon-thumbs-o-down:before {
	content: "\e954";
}

.icon-thumbs-o-up:before {
	content: "\e955";
}

.icon-instagram:before {
	content: "\e956";
}

/*Icons Ends*/