/*Icon Sizes start Here*/
.unused-icon {
	color: #606060 !important;
}

.big-icon .icon-o-thumbs-up {
	color: green;
}

.big-icon .icon {
	font-size: 2em;
	color: #2966b3;
}

.big-icon .icon:hover {
	color: #1f4e89
}

.comments .icon {
	font-size: 1.3em;
	color: #2966b3;
}

.alert .icon-exclamation-circle {
	font-size: 1.4em;
}

.comments .icon:hover {
	color: #1f4e89;
}

/*Icon Sizes end Here*/
.form-vote button[type=submit] {
	border: none;
	background: none;
}

.form-vote {
	display: inline-block;
}