/*This is necessary for error messages to position correctly*/
body {
    margin-top: 15px;
}

/*Advertisement Banner*/
.adBanner {
    background-color: red;
    width: 100%;
    height: 8em;
    border-radius: 2px;
}

/*This is for the overtyping text*/
.overlimit {
    color: red;
}
.overlimitText {
    color: red;
}
.overlimitText:focus {
    border-color: #FF0000;
}

/*This is for the comments divider*/
.specialHr {
    width: 75%;
}

/*This fixes the comment and status box buttons*/
.imageButton {
    margin-left: 15px;
}
.socialButton {
    margin-right: 15px;
}

/*Size for the comment images*/
.commentImages {
    width: 75%;
    height: 300px;
}

/*Paginator style rules*/
.paginatorHide {
	display: none;
}

/*Sign Up and Sign In form*/
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.form-signin input[type="password"]{
    margin-bottom: -1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-top: none;
}
.form-signin .form-group{
    margin-bottom: 0;
}

/*Login Buttons*/
.vertical-buttons{
    max-width: 300px;
    margin: 0 auto;
}
.vertical-buttons>h4{
    text-align: center;
}
.facebook, .twitter, .google {
    color: #FFF;
    margin-bottom: 5px;
}
.facebook {
    background-color: #4E69A2;
    border-color: #4E69A2;
}
.facebook:hover{
    background-color: #47409B;
    border-color: #47409B;
    color: #E4E4E4;
}
.twitter {
    background-color: #55acce;
    border-color: #55acce;
}
.twitter:hover {
    background-color: #5569CE;
    border-color: #5569CE;
    color: #E4E4E4;
}
.google {
    background-color: #D72A1E;
    border-color: #D72A1E;
}
.google:hover {
    background-color: #C21D1B;
    border-color: #C21D1B;
    color: #E4E4E4;
}