/*This is necessary for error messages to position correctly*/

body {
	margin-top: 15px;
}

/*Advertisement Banner*/

.adBanner {
	background-color: red;
	width: 100%;
	height: 8em;
	border-radius: 2px;
}

/*This is for the overtyping text*/

.overlimit {
	color: red;
}

.overlimitText {
	color: red;
}

.overlimitText:focus {
	border-color: #FF0000;
}

/*This is for the comments divider*/

.specialHr {
	width: 75%;
}

/*This fixes the comment and status box buttons*/

.imageButton {
	margin-left: 15px;
}

.socialButton {
	margin-right: 15px;
}

/*Size for the comment images*/

.commentImages {
	width: 75%;
	height: 300px;
}

/*Paginator style rules*/

.hidden-paginator {
	display: none;
}
