$primary-color: #2f75ce;
$error-color: #E70005;
$facebook-color: #4e69a2;
$twitter-color: #55acce;
$google-color: #d72a1e;
$userblock-color-fallback: rgb(47, 116, 204);
$userblock-color: rgba(47, 116, 204, 0.75);
$disabled-color: #6c6c6c;
$green-color: #018001;
$navbar-main-color: #5f6f81;
$white-color: #FFF;
$navbar-border-color: #c6d0da;
$submenu-dark-color: #52606f;
$search-color: #434F5C;